body {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: helvetica;
    background-color: #D8D8D8;
}

#container {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    width: 995px;
}

#login {
    background-color: #f2ff00;
    width: 380px;
    margin-left: 305px;
    box-shadow: 0px 0px 10px 0px #00000081;
    border-radius: 8px;
}

#login p {
    color: #000000;
    font-weight: bold;
}

#login #login_label {
    color: #000000;
    padding: 20px;
    font-size: 25px;
    border-bottom: 1px solid #5a5a5a;
    font-weight: bold;
}

#login input[type="text"],
input[type="password"] {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
    border: 1px solid #D8D8D8;
}

#login input[type="submit"] {
    margin-top: 10px;
    width: 300px;
    height: 40px;
    background-color: #9acd31;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    border: #000000 2px solid;
    font-weight: bold;
    cursor: pointer;
}